@use './variables' as *;
body {
    min-height: 100vh;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    color: $text-color;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}