* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.d-contents {
  display: contents;
}

.tooltip.bg-danger {
  .tooltip-inner {
    background-color: #dc3545;
    color: white;
  }

  &.bs-tooltip-auto {
    &[data-popper-placement^="top"] {
      .tooltip-arrow::before {
        border-top-color: #dc3545 !important;
      }
    }

    &[data-popper-placement^="right"] {
      .tooltip-arrow::before {
        border-right-color: #dc3545 !important;
      }
    }

    &[data-popper-placement^="bottom"] {
      .tooltip-arrow::before {
        border-bottom-color: #dc3545 !important;
      }
    }

    &[data-popper-placement^="left"] {
      .tooltip-arrow::before {
        border-left-color: #dc3545 !important;
      }
    }
  }
}